@font-face {
    font-family: 'TT Firs Neue';
    src: url('assets/fonts/TTFirsNeue-Regular.woff2') format('woff2'),
        font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
}



html {
    scroll-behavior: smooth
}

.common-container {
    max-width: 1440px;
    margin: 0 auto;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    font-family: TT Firs Neue;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
    margin: 0;
    font-family: TT Firs Neue;
}

p {
    font-family: TT Firs Neue;
}

li {
    font-family: TT Firs Neue;
}

a {
    display: block;
    text-decoration: none;
    color: white;
    font-family: TT Firs Neue;
}

.container {
    margin: 0 auto;
    width: 1350px;
}

.header-container {
    display: flex;
    justify-content: space-between;
    background-color: #2f4454;
}

.header-left-column {
    margin: 0;
    padding: 0;
    background-image: ;
}

.header-right-column {
    height: 425px;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-transform: uppercase;
    background-color: #2f4454;
}

.personal-photo {
    width: 425px;
    height: 425px;
}

.header-nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 20px;
    padding: 0;
}

a:hover {
    text-decoration: none;
}

.header-nav-link {
    margin: 5px;
}

.header-name {
    text-align: center;
    margin-top: 150px;
    margin-bottom: 100px;

}

.header-title {
    font-size: 70px;
}

.header-description {
    font-size: 30px;
}

.main-content-conteiner {
    display: flex;
}

.main-left-column {
    background-color: #1c3334;
    color: white;
    font-family: TT Firs Neue;
    display: flex;
    flex-direction: column;
    width: 40%;
}

.contacts {
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 30px;
    border-bottom: 3px solid #FFF;
}

.contacts-container {
    margin: 20px;
    padding: 0;
    font-size: 20px;
    
}

.contacts-item {
    margin-top: 15px;
    padding: 10px;;
}

.contacts-container-bold {
    font-weight: 900;
}

.skills {
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 30px;
    border-bottom: 3px solid #FFF;
}

.skills-container {
    margin: 20px;
    padding: 0;
    font-size: 20px;
}

.skills-item {
    margin: 5px;
    padding: 5px;
}

.languages {
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 30px;
    padding-top: 30px;
}

.languages-container {
    margin: 20px;
    padding: 0;
    font-size: 20px;
}

.languages-item {
    margin: 5px;
    padding: 5px;
}

.languages-container-font {
    font-size: 25px;
    font-style: 900;
}

.main {
    background-color: #da7b93;
    color: white;
    font-family: TT Firs Neue;
    display: flex;
    flex-direction: column;
}

h2 {
    font-size: 40px;
}

.footer-content {
    display: flex;
    justify-content: center;
    background-color: #376e6f;
}

.footer-item-github {
    width: 100%;
}

.footer-date {
    width: 100%;
}

.footer-item-rsschool {
    width: 100%;
}